* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #181818;
  color: white;
  font-family: sans-serif;
}
main {
  padding: 1pc;
}
#weather-data{
  border: 1px solid white;
  border-radius: 3px;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 1pc;
}
